[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = ../../adityatelange/hugo-PaperMod
[submodule "public"]
	path = public
	url = ../manabu
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
